include README.rst
include LICENSE
include CONTRIBUTORS
include CHANGELOG

recursive-include steve *

include setup.py
include steve/video_reqs.json
include steve/templates/base.html
include steve/templates/edit.html
include steve/templates/home.html
