include README.rst
include LICENSE
include CONTRIBUTORS
include CHANGELOG
include requirements.txt
include setup.py
include maketarball.sh

recursive-include docs *.py *.rst Makefile

recursive-include steve *.py *.json *.html
