BeautifulSoup
Sphinx
argparse
beautifulsoup4
blessings
cssselect
feedparser
html2text
httplib2
lxml
nose
pyquery
requests
wsgiref

# Need develop tip of vidscraper which works with requests >= 1.0
https://github.com/pculture/vidscraper/zipball/develop#egg=vidscraper
