{% extends 'base.html' %}
{% block nav %}
  <div id="nav">
    <ul class="nav-nav">
      <li>STEVE</li>
      <li><a href="/">Home</a></li>

      <li>
        {% if prev_fn %}
          <a href="/edit/{{ prev_fn[5:] }}">&lt;&lt;&lt; PREV</a>
        {% else %}
          &lt;&lt;&lt; PREV
        {% endif %}
      </li>

      <li>
        {% if next_fn %}
          <a href="/edit/{{ next_fn[5:] }}">NEXT &gt;&gt;&gt;</a>
        {% else %}
          NEXT &gt;&gt;&gt;
        {% endif %}
      </li>
    </ul>
    <ul class="nav-nav nav-right">
      <li>
        <a href="javascript:document.getElementById('resetbtn').click()">Reset</a>
      </li>
      <li>
        <a href="javascript:document.getElementById('savebtn').click()">Save</a>
      </li>
    </ul>
  </div>
{% endblock nav %}

{% block content %}
<p class="note">
  Note: webedit doesn't currently verify data correctness. If you want
  to verify the data, run <code>steve verify</code> from the command
  line.
</p>
<form id="videoform" action="/save/{{ fn[5:] }}" method="POST">
<table>
  <tr>
    <th>filename</th>
    <td>{{ fn[5:] }}</td>
  </tr>

  {% for field in fields %}
    <tr>
      <th>{{ field.name }}</th>
      <td>
        {% if field.choices %}
          <div>
          {% for choice in field.choices %}
            <input type="radio" name="{{ field.name }}" value="{{ choice }}"{{ ' checked' if choice == field.value }}>{{ choice }}
          {% endfor %}
          </div>
          <div class="helptext">Pick a choice.</div>
        {% elif field.type == 'IntegerField' %}
          <div><input type="text" name="{{ field.name }}" value="{{ field.value }}"></div>
          <div class="helptext">Integer value</div>
        {% elif field.type == 'CharField' %}
          <div><input type="text" name="{{ field.name }}" value="{{ field.value }}"></div>
          <div class="helptext">Text</div>
        {% elif field.type == 'DateField' %}
          <div><input type="text" name="{{ field.name }}" value="{{ field.value }}"></div>
          <div class="helptext">Date (ex. 2012-01-06)</div>
        {% elif field.type == 'DateTimeField' %}
          <div><input type="text" name="{{ field.name }}" value="{{ field.value }}"></div>
          <div class="helptext">Datetime (ex. 2012-01-06T11:25:01Z)</div>
        {% elif field.type == 'SlugField' %}
          <div><input type="text" name="{{ field.name }}" value="{{ field.value }}"></div>
          <div class="helptext">Slug</div>
        {% elif field.type == 'TextField' %}
          <div><textarea name="{{ field.name }}">{{ field.value }}</textarea></div>
          <div class="helptext">Text{{ ': Markdown formatted' if field.md }}</div>
        {% elif field.type == 'BooleanField' %}
          <input type="radio" name="{{ field.name }}" value="0"{{ ' checked' if not field.value }}>False
          <input type="radio" name="{{ field.name }}" value="1"{{ ' checked' if field.value }}>True
        {% elif field.type == 'TextArrayField' %}
          <div><textarea name="{{ field.name }}" cols=60 rows=4>{{ field.value|join('\n') }}</textarea></div>
          <div class="helptext">List of items, one per line</div>
        {% elif field.type == 'URLField' %}
          <div><input class="urlfield" id="{{ field.name }}-input" type="text" name="{{ field.name }}" value="{{ field.value }}"></div>
          <div class="helptext"><a id="{{ field.name }}-link" href="{{ field.value }}" target="_blank">{{ field.value }}</a></div>
        {% else %}
          <div>{{ field.value }}</div>
        {% endif %}
        {% if field.error %}
          <div class="error">{{ field.error }}</div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  <tr>
    <td>&nbsp;</td>
    <td><input id="resetbtn" type="Reset"><input id="savebtn" type="Submit" value="Save data"></td>
  </tr>
</table>
</form>
{% endblock %}

{% block js %}
  <script>
   (function($, document) {
     $(document).ready(function() {
       // Update url links when the value changes
       $('.urlfield').change(function() {
         var name = $(this).attr('name') + '-link';
         $('#' + name).attr('href', $(this).val());
         $('#' + name).text($(this).val());
       });
     });
   })(jQuery, window.document);
  </script>
{% endblock js %}
